body {
    background: #f2ecc2;
}

#adminContainer{
   display: block;
}

h1 {
    color: #323232;
    display: block;
    font-size: 2em;
    /*font-size: 2em;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.25em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .25em;
    /*margin-top: 0.67em;
    margin-bottom: 0.67em;*/
}

h2 {
    color: #323232;
    display: block;
    font-size: 2em;
    /*font-size: 1.5em;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.15em;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: .25em;
    padding-top: 1em;
    /*margin-top: 0.83em;
    margin-bottom: 0.83em;*/
    width: 90%;
}

h3 {
    color: #323232;
    display: block;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.25em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .3em;
    /*padding-bottom: .5em;*/
    /*margin-top: 1em;
    margin-bottom: 1em;*/
}

    
#loginProd{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
    margin-bottom: 1.5em;
    width: 300px;
    height: auto;
}
    
#tinyProd {
    margin-left: 0;
    margin-top: 0.4em;
    padding-left: .5em;
    position: fixed;
    z-index: 2;
    /* transform: rotate(-5deg); */
    width: 50px;
    height: auto;
}
    
header {
    display: flex;
    flex-direction: row;
}
    
header h1 {
    /*background-color: #f2ecc2;*/
    font-size: 2em;
    font-weight: 200;
    line-height: 2em;
    /*font-family: 'Roboto Slab', serif;*/
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 65px;
    padding-top: 0em;
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    z-index: 2;
}

#headerAndTinyProd {
    width: 50%;
    background:#f2ecc2;
    left: 0;
    position: fixed;
    z-index: 2;
    height: 65px;
}
 
#loginH1andTagline{
    display: block;
    text-align: center;
    margin-top: 4em;
 }

#collapsibleItems{
    margin-top: 9em;
}

.collapsible{
    /* background-color: #8559a5; */
    background-color: white;
	border: solid 1px transparent;
    border-radius: 25px;
    font-size: 1.5em;
	display: block;
    height: 65px;
    left: 0;
    /*margin: 2px 0;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
	padding-top: 0.5em 1em;
    color: black;
    font-family: 'Roboto Slab', serif;
  	text-align: center;
    text-decoration: none;
    width: 90%;
    /* margin-top: 6em; */
}

.collapsible:hover, .collapsible:focus {
	background-color: #48b782;
}

.topNav {
    background-color: #8559a5; /*purple*/
    padding: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 65px;
    z-index: 2;
 }

 .topNav a {
    text-decoration: none;
    color: #fff;
    display: block;
    /* height: 65px; */
    /* margin-top: 0.3em; */
    padding-left: 15px;
    padding-top: 0.1em;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
    border-bottom: none;
    text-decoration: none;
  }

  .topNav li {
    font-size: 1.2em;
    text-align: left;
    width: 25%;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: -4px;
  }
  .topNav li:hover ul {
    display: block;
    text-align: center;
    display: flex;
    left: 0;
    width: 100vw;
    margin-left: -100%;
    flex-direction: row;
    justify-content: space-around;
  }
  /* Sub Menus */
 .topNav li li {
    background: #48b782; 
    font-size: .9em;
    text-align: center;
    height: 52px;
    /* margin-top: auto; */
    /* padding-top: .5em; */
    /*white-space:nowrap;
    width: 200px;*/
 }
 /* Sub Menus */
 .topNav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
  .topNav li ul li {
    display: block;
  }
 .topNav ul li a:hover {
    background: #48b782; 
    color: black;
    z-index: 2;
 }
 .topNav ul li a.active {
    background: #48b782; 
    color: black;
    cursor: default;
    z-index: 2;
 }
 .topNav > ul > li {
    text-align: center;
  }
  .topNav > ul > li > a {
    padding-left: 0;
  }
 .topNav ul li ul {
    list-style: none;
    background: #48b782; 
    color: black;
    text-align: center;
    padding: 0;
    padding-top: .5em;
    position: absolute;
    height: 65px;
    /*width: inherit;*/
    z-index: 2;
    /*margin-left: -200px;
    white-space:nowrap;*/
    width: 100vw;
 }

 .first-nav img {
    margin-top: 0.5em;
    width: 40px;
    height: 40px;
 }

 nav .sub-nav {
    background: #dbcde4; /*lavender*/
    border: solid 1px transparent;
  	border-radius: 25px;    
    /*background: #ffa258;*/
    display: none;
    height: 11em;
    /*margin: auto;
    position: relative;
    top: 1em;*/
    width: 11em;
    z-index: 10;
    }

nav .sub-nav ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 3em;
        list-style: none;
        padding: 1em;
    }

nav .sub-nav li {
            line-height: 3em;
            /*margin: auto;*/
        }

nav .sub-nav li a {
                text-decoration: none;
                color: #323232;
            }

nav .sub-nav li a:hover {
    text-decoration: none;
    color: #323232;
}

.button-primary {
	background-color: #8559a5;
	border: solid 1px transparent;
  	border-radius: 25px;
	display: block;
    height: 50px;
    left: 0;
    /*margin: 2px 0;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
	padding-top: 0.5em 1em;
	width: 150px;
  	color: white;
  	text-align: center;
  	text-decoration: none;
}

.button-primary:hover, .button-primary:focus {
	background-color: #48b782;
}


/*.missions h1 {*/
    /*called #title h1 in the other style-sheet*/
    /*background-color: #f2ecc2;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    font-weight: 200;
    line-height: 2em;

    height: 65px;
    padding-left: 1.5em;
    padding-top: 0.4em;
    position: fixed;
    top: 0;
    width: 35%;
    z-index: 2;
}


/*Forms*/
/*h3 {
    color: #323232;
    /*display: block;*/
    /*font-size: 2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 1em;
    margin-bottom: 1em;*/
/*}*/

/*form h4 { 
    color: #323232;*/
    /*display: block;*/
    /*font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.75em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}*/

/*p {
    color: #323232;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: .5em;
}*/

/*label {
    float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}*/
.content{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.content p{
    margin-left: 3em;
}

input[type="text"], 
input[type="password"], 
input[type="number"],
input[type="file"],
select, textarea {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;
    height: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #323232;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #323232;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #323232;
}

/*The calendar starts*/
input[type="date"] {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
     display: block;
     font-family: 'Roboto', sans-serif;
     margin-bottom: 1em;
     margin-left: auto;
     margin-right: auto;
     padding: 1em;
     width: 90%;
     -webkit-align-items: center;

     overflow: hidden;
     /*padding: 0;*/
     /*-webkit-padding-start: 1px;*/
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}
/*The calendar ends*/


/*The radio buttons*/
.flex-grid-halves {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-left: 1em;
    width: 90%;
  }
  
  .col-halves {
      flex: 1;
  }

.radio-columns-container {
      width: 90%;
      margin-left: 4em;
      margin-right: auto;
  }

#userCheckbox{
    margin-left: 4em;
}  
    
/*The radio buttons with floats*/
  /* The radio buttons container WITH the float */
  .radio-columns {
    float: left;
	width: 25%;
    margin: auto;
    display: block;
    /*float: right;*/
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    /*padding-left: 0;*/
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: .80em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Create a custom checkbox */
.radio-columns input[type="radio"] {
    position: absolute;
    /*opacity: 0;*/
    cursor: pointer;
    /*height: 0;
    width: 0;
    position: absolute;*/
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px;   
}

/*These hovers and such are not working.
/*.radio-columns input[type="radio"]:hover {
    background-color: #ffd5b3; /*light orange
}*/
/* On mouse-over, add a grey background color */
/*.radio-columns input[type="radio"]:hover   {
    background-color: #ffd5b3; /*light orange
}*/
/* When the checkbox is checked, add a blue background */
/*.radio-block-float input:checked ~ .radio-block-checkmark {
    background-color: #ffa258; /*orange
}*/


/* The radio buttons container WITHOUT the float */
.radio-block {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
        
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.radio-block input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.radio-block-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px; 
}

/* On mouse-over, add a grey background color */
.radio-block:hover input ~ .radio-block-checkmark {
    background-color: #ffd5b3; /*light orange*/
}

/* When the checkbox is checked, add a blue background */
.radio-block input:checked ~ .radio-block-checkmark {
    background-color: #ffa258; /*orange*/
}




