body {
    background: #f2ecc2;
    }

/*.missions h1 {*/
    /*called #title h1 in the other style-sheet*/
    /*background-color: #f2ecc2;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    font-weight: 200;
    line-height: 2em;

    height: 65px;
    padding-left: 1.5em;
    padding-top: 0.4em;
    position: fixed;
    top: 0;
    width: 35%;
    z-index: 2;
}


/*Forms*/
/*h3 {
    color: #323232;
    /*display: block;*/
    /*font-size: 2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 1em;
    margin-bottom: 1em;*/
/*}*/

/*form h4 { 
    color: #323232;*/
    /*display: block;*/
    /*font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.75em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}*/

/*p {
    color: #323232;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: .5em;
}*/

/*label {
    float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}*/

input[type="text"], 
input[type="password"], 
input[type="number"],
input[type="file"],
select, textarea {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #323232;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #323232;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #323232;
}

/*The calendar starts*/
input[type="date"] {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
     display: block;
     font-family: 'Roboto', sans-serif;
     margin-bottom: 1em;
     margin-left: auto;
     margin-right: auto;
     padding: 1em;
     width: 90%;
     -webkit-align-items: center;

     overflow: hidden;
     /*padding: 0;*/
     /*-webkit-padding-start: 1px;*/
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}
/*The calendar ends*/


/*The radio buttons*/
.flex-grid-halves {
    display: flex;
    justify-content: space-around;
    margin: auto;
    /*padding-left: 0;*/
    width: 90%;
  }
  
  .col-halves {
      flex: 1;
  }

  /*The radio buttons with floats*/
.flex-grid-halves-float {
    display: flex;
    justify-content: space-around;
    margin: auto;
    /*padding-left: 0;*/
    width: 90%;
  }
  
  .col-halves-float {
     /* width: 25%;*/
     flex: 1;
}


/*input[type="radio"] {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
     font-family: 'Roboto', sans-serif;
     margin-bottom: 1em;
     margin-left: auto;
     margin-right: auto;
     width: 20%;*/
     /* -webkit-align-items: center;

     overflow: hidden;*/
     /*padding: 0;*/
     /*-webkit-padding-start: 1px;*/
/*}*/

/* The radio buttons container WITH the float */
.radio-block-float {
    display: block;
    /*float: right;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;

        
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.radio-block-float input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   
}

/* Create a custom checkbox */
.radio-block-float-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: white;
    border: 2px solid #323232;
    border-radius: 25px; 
}

/* On mouse-over, add a grey background color */
.radio-block-float:hover input ~ .radio-block-checkmark {
    background-color: orange;
}

/* When the checkbox is checked, add a blue background */
.radio-block-float input:checked ~ .radio-block-checkmark {
    background-color: orangered;
}

/* The radio buttons container WITHOUT the float */
.radio-block {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
        
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.radio-block input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.radio-block-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: white;
    border: 2px solid #323232;
    border-radius: 25px; 
}

/* On mouse-over, add a grey background color */
.radio-block:hover input ~ .radio-block-checkmark {
    background-color: orange;
}

/* When the checkbox is checked, add a blue background */
.radio-block input:checked ~ .radio-block-checkmark {
    background-color: orangered;
}




