
 #prod-mascot {
	margin-left: 10%;
    margin-right: auto;
	margin-top: 1em;
	padding-left: 3%;
	position: relative;
	text-align: left;
	width: 100%;
    z-index: 1;    
    transform: rotate(-5deg);
    width: 125px;
    height: auto;
}
#tinyProd {
   margin-left: 10%;
   margin-right: auto;
  margin-top: 1em;
  padding-left: 3%;
  position: relative;
  text-align: left;
  width: 100%;
   z-index: 1;    
   transform: rotate(-5deg);
   width: 50px;
   height: auto;
}

#loginProd{
   display: block;
   margin-right: auto;
   margin-left: auto;
   margin-top: 7em;
   margin-bottom: 1.5em;
}

#loginH1andTagline{
   display: block;
   text-align: center;
}

#loginForm{
   margin-top: 1.5em;
}
#loginForm div{
   margin-left: 3.55em;
   margin-bottom: 0.3em;
}

#loginForm h4{
   margin-left: 3.0em;
   font-size: 1.2em;
}

.topper {
   display: flex;
   flex-direction: row;
}

 #missionWrapper {
   margin-top: 8.3em;
} 

.missionDone {
    background-color: gray;
}

.mission {
   margin-top: 1em;
}

.pageHeader {
    text-align: center;
    padding-bottom: 0.7em;
}

.first-nav img {
   margin-top: 0.3em;
   width: 40px;
   height: 40px;
}

.topNav {
    background-color: #8559a5; /*purple*/
    padding: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 55px;
    z-index: 2;
 }

 .topNav a {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 52px;
    /* margin-top: 0.3em; */
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
    border-bottom: none;
  }

  .topNav li {
    font-size: 1.2em;
    text-align: left;
    width: 25%;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: -4px;
  }
  .topNav li:hover ul {
    display: block;
    text-align: center;
    display: flex;
    left: 0;
    width: 100vw;
    margin-left: -100%;
    flex-direction: row;
    justify-content: space-around;
  }
  /* Sub Menus */
 .topNav li li {
    background: #48b782; 
    font-size: .9em;
    text-align: center;
    margin-top: auto;
    /* padding-top: .5em; */
    /*white-space:nowrap;
    width: 200px;*/
 }
 /* Sub Menus */
 .topNav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
  .topNav li ul li {
    display: block;
  }
 .topNav ul li a:hover {
    background: #48b782; 
    color: black;
    z-index: 2;
 }
 .topNav ul li a.active {
    background: #48b782; 
    color: black;
    cursor: default;
    z-index: 2;
 }
 .topNav > ul > li {
    text-align: center;
  }
  .topNav > ul > li > a {
    padding-left: 0;
  }
 .topNav ul li ul {
    list-style: none;
    background: #48b782; 
    color: black;
    text-align: center;
    padding: 0;
    padding-top: .5em;
    position: absolute;
    height: 65px;
    /*width: inherit;*/
    z-index: 2;
    /*margin-left: -200px;
    white-space:nowrap;*/
    width: 100vw;
 }
 .sub-nav {
    display: none;
}
 
 header{
    display: flex;
    flex-direction: row;
 }


 