
.missionDone {
    background-color: gray;
}
.pageHeader {
    text-align: center;
}

body {
	background: #f2ecc2;
    }
    
/*main {
	margin-top: 21em;
	}may not need this*/

.flex-grid {
    display: block;
}

#prod-mascot {
	margin-left: auto;
    margin-right: auto;
	margin-top: 5em;
	text-align: center;
	width: 100%;
    z-index: 1;    
    transform: rotate(-5deg);
    
}

header h1 {
    /*called #title h1 in the other style-sheet*/
    background-color: #f2ecc2;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 2em;
    padding-left: 2.0em;
    padding-top: 0.4em;
    position: fixed;
    top: 0;
    /*left: 0; ?*/
    height: 65px;
    width: 35%;
    z-index: 2;
}

.header-text  {
	padding-top: 2em;
	border-bottom: 1px solid #323232;
	margin-bottom: 1em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	font-weight: 200;
	text-transform: uppercase;
}



nav {
    /*margin-left: auto;
	margin-right: auto;
	position: fixed;*/
   /* width: 100%;
    z-index: 1;*/
}

 #first-nav ul {
   /* align-items: center;*/
    background-color: #8559a5;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: space-between;
    line-height: 3em;
    list-style: none;
    /*margin: 0;*/
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .25em;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 2;

    }

 #first-nav li {
    /*display: inline-block;
    margin: auto;*/
    text-align: center
    /*width: 25%;*/
    }

 #first-nav li a {
    text-decoration: none;
    color: white;
    }

nav #first-nav li a:hover {
    background: #dbcde4; /*lavender*/
    cursor: pointer;
    padding-top: 1.9em; 
    padding-right: .45em; 
    padding-left: .45em; 
    padding-bottom: .10em; 
    }

nav #first-nav #selected { /*not used at the moment*/
    background: #dbcde4;
	line-height: 9em;
   /* margin-left: 0;
	margin-right: auto;*/
	z-index: 2;
    /*padding: 0 1em;*/
    }

nav .sub-nav {
    background: #dbcde4; /*lavender*/
    border: solid 1px transparent;
  	border-radius: 25px;    
    /*background: #ffa258;*/
    display: none;
    height: 11em;
    /*margin: auto;
    position: relative;
    top: 1em;*/
    width: 11em;
    z-index: 10;
    }

nav .sub-nav ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 3em;
        list-style: none;
        padding: 1em;
    }

nav .sub-nav li {
            line-height: 3em;
            /*margin: auto;*/
        }

nav .sub-nav li a {
                text-decoration: none;
                color: #323232;
            }

nav .sub-nav li a:hover {
    text-decoration: none;
    color: #323232;
}

/*The black bar that acts like a secondary navigation
/* Styling for the tab */


 /* .tab {
    margin-top: 4em;
 } */

 .tabcontent {
     background: fuschia;
 }

.tab ul {
    /*was formerly named nav #tabbed-nav ul*/
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: #ffa258;*/
    color: white;
    flex: auto;
    left: 0;
    /*margin-left: auto;
    margin-right: auto;*/
    top: 5.3em;
    list-style: none;
    position: absolute;
    height: 4.0em;
    width: 100%;
}

/* Style the buttons inside the tab */
#tabbed-nav ul li {
    /*formerly called nav #tabbed-nav ul li*/
    z-index: 2;
    line-height: 1.15;
    padding-left: .5em;
    padding-right: .5em;
}

.tab ul li {
    /*formerly nav #tabbed-nav ul li button:hover, nav #tabbed-nav ul li button:active, .tablinks-active*/
    /*background-color: #ffd5b3;*/
    color: #323232;
    height: 3em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* Style the buttons inside the tab */
#tabbed-nav ul li {
    z-index: 2;
    /*line-height: 1.15;*/
    padding-left: .5em;
    padding-right: .5em;
}

/* Change background color of buttons on hover */
.tablinks :hover {
    text-decoration: none;
    color: #323232;
    }

/* Change background color of buttons on hover */
.tablinks a:hover {
    text-decoration: none;
}

.tablinks {
    font-size: 1em;
}

.tab ul li  {
    /*formerly nav #tabbed-nav ul li button:hover, nav #tabbed-nav ul li button:active, .tablinks-active */
    /*background-color: #ffd5b3;*/
    color: #323232;
    height: 3em;
    width: 215px;
    padding-left: .5em;
    padding-right: .5em;
    }



.active {
    background-color: #ffa258;
    border-radius: 25px 25px 0px 0px;     
    color: #323232;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    /* padding-left: 3em;
    padding-right: 3em; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tablinks .active {
    border-radius: 25px 25px 0px 0px;
}

.tabcontent {
    /* border-radius: 0px 0px 25px 25px; */
    background-color: #ffa258;
    color: #323232;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    /* padding-left: 3em;
    padding-right: 3em; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.pageHeading{
    justify-content: center;
}


.color-box {
    border-radius: 25px;
    background: #323232;
    color: white;
    height: 75px;
    width: 90%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #323232;
    display: block;
    font-size: 4em;
    /*font-size: 2em;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 0.67em;
    margin-bottom: 0.67em;*/
}

h2 {
    color: #323232;
    display: block;
    font-size: 3em;
    /*font-size: 1.5em;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 0.83em;
    margin-bottom: 0.83em;*/
    width: 90%;
}

h3 {
    color: #323232;
    display: block;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 1em;
    margin-bottom: 1em;*/
}

h4 {
    color: #323232;
    display: block;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.75em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 1.33em;
    margin-bottom: 1.33em;*/
}

h5 {
    color: #323232;
    display: block;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.55em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 1.67em;
    margin-bottom: 1.67em;*/
}

p {
    color: #323232;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: 0em;

}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 1em; */
}

.button-primary {
	background-color: #8559a5;
	border: solid 1px transparent;
  	border-radius: 25px;
	display: block;
    height: 50px;
    left: 0;
    /*margin: 2px 0;*/
    margin-left: auto;
	margin-right: auto;
	padding: 0.5em 1em;
	width: 150px;
  	color: white;
  	text-align: center;
  	text-decoration: none;
}

.button-primary:hover, .button-primary:focus {
	background-color: #48b782;
}

article {
	/*flex-box part*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/*whole article*/
    background: white;
	border-color: #323232;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 5px;
}

article img {
    object-fit: cover;
	width: 75px;
	height: 75px;
    border-radius: 25% 0% 0% 25%;
    margin: 0;
    margin-top: 0.51em;
    padding: 0;
    /* border-width: 1px;
    border-color: #323232; */

}

article .mission-intro {
	padding-left: 10px;
	width: 500px;
}

footer {
    display: block;
   text-align: center;
   margin-top: 2em;
}

section p {
    line-height: 1.15em;
    padding-bottom: 1em;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #8559a5;
    float: right;
    font-size: 2em;
    font-weight: bold;
}    
    
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.opened {
    display: block !important;
}


/* Larger than mobile 
@media (min-width: 400px) {}*/


/* Larger than phablet 
@media (min-width: 550px) {}*/


/*Larger than tablet*/
/*@media (min-width: 750px) {}*/


/*The black bar that acts like a secondary navigation
/* Styling for the tab BIG*/

/*#tabbed-nav {
    
}*/

/*main .tab ul {
    /*formerly nav #tabbed-nav ul*/
    /*align-items: center;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: space-around;
    background-color: #ffa258; *//*orange*/
    /*color: white;
    flex: auto;
    left: 20%;
    margin-left: auto;
    margin-right: auto;
    top: 17em;
    list-style: none;
    position: fixed;
    width: 60%;
    }*/

/* Style the buttons inside the tab */
/*nav #tabbed-nav ul li {
    z-index: 2;*/
    /*line-height: 1.15;*/
   /* padding-left: .5em;
    padding-right: .5em;
}*/

/*main .tab ul li  {*/
    /*formerly nav #tabbed-nav ul li button:hover, nav #tabbed-nav ul li button:active, .tablinks-active */
    /*background-color: #ffd5b3;*/
   /* color: #323232;
    height: 3em;
    padding-left: .5em;
    padding-right: .5em;
    }*/

/* Change background color of buttons on hover */
 /*   .tablinks a:hover {
        text-decoration: none;
    }*/



/*.tablinks a:active {

}*/

/* Create an active/current tablink class */
/*.tablinks-active {

}*/













