/* li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color:rgba(233, 0, 31, 0.918);
} */

/* article {
    /*flex-box part*/
    /* display: flex;
    line-height: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /*whole article*/
/* } */ 
    
/* article img {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 25% 0% 0% 25%;
} */
/* article .mission-intro {
    padding-left: 10px;
    width: 275px;
} */
/* article h4{
    margin:0;
}

article p{
    margin: 0;
} */

.missionButton{
    border-color: #323232;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    height: 85px;
    width: 350px;
}

.userButton{
    border-color: #323232;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    height: 85px;
    width: 350px;
}

.userButton a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.userButton a:hover{
    color: red;
}

/* Styling for the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.topNav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.navContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.topNav button.active {
    background-color: #ccc;
}
.topNav button:hover {
    background-color: #ddd;
}
.topNav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}