<!DOCTYPE html>
<html>
<head>
	<title>Administration tasks</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/style-sheet.css">
</head>
<body>
	<main id="container">
			<li>Add User</li>
			<div id="add-mission-modal" class="modal">
				<div class="modal-content">
					<span id="close-add-mission" class="close">&times;</span>
					<h3>Add New User</h3>
					<form >
						<input type="text" name="userName" placeholder="Name of the User" required/>
						<input type="text" name="password" placeholder="Create a password for the user"/>
						<input type="text" name="contact" placeholder="Provide an email adress for the user"/>
						<input type="text" name="theme" placeholder="Default">Theme</input>
						<input type="checkbox" name="roles" placeholder="ADMIN">Aministrative User</>
						<button class="newUser-button button-primary" th:formaction= "@{/add-user-button}">Add User</button>
						</form>
				</div>				
			</div>
			<li>Edit User</li>
			<li>Remove User</li>
			<li>Change User Password</li>
		</ul>
	</div>
	</div>
	</ul>
	</div>
	</main>
</body>
</html>