<!DOCTYPE html>
<html>
<head>
	<title>Administration tasks</title>
	<meta charset="utf-8">
<!-- 	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/style-sheet.css"> -->
</head>
<body>
	<main id="container"> 
	<div class="missions"><h1>Mission Administration</h1>
		<ul>
			<li><h3>Show Complete Missions</h3></li>
			<div id="completeMissions">
				<div class ="mission" th:each="mission: ${completeMissions}">
					
					<article class="missionLists" id="completeMissions" >
						<a th:href="@{/sector(id=${mission.sector.id})}">
						<img th:src="${mission.sector.imageUrl}"/></a>
						<button class="missionButton">
							<div class="mission-intro">
								<h4 th:text="${mission.missionName}"></h4>
								<p><span th:text="${mission.completionDate}"></span></p>
							</div>
						</button>
					</article>
					
					<!-- The Modal -->
					<div class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<section>
								<p>Mission Name: <span th:text = "${mission.missionName}"></span></p>
								<p>Mission Decription: <span th:text = "${mission.missionDescription}"></span></p>
								<p>Mission's Assigned Users: <span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>	
								<p>Mission repeats every <span th:text = "${mission.period}"></span> days</p>	
								<p>Mission can be snoozed for <span th:text = "${mission.snooze}"></span> days</p>	
								<p>Mission Due Date: <span th:text = "${mission.dueDate}"></span></p>
								<p>Mission Completed: <span th:text = "${mission.completionDate}"></span></p>
							</section>
							<form>
								<input type="hidden" th:value="${mission.id}" name="missionId"/>
								<input type="hidden" th:value="${user.id}" name="userId"/>
								<button class="doneButton button-primary" th:formaction= "@{/mission-complete-button}">Done</button>
								<button class="snoozeButton button-primary" th:formaction= "@{/snooze-mission}">Snooze</button>
								<button class="claimButton button-primary" th:formaction= "@{/claim-mission-button}">Claim</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</ul>
	</div>
	</ul>
	</div>
	</main>
</body>
</html>