<!DOCTYPE html>
<html>
<head>
	<title>Administration tasks</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="missions"><h1>Mission Administration</h1>
		<ul>
			<li><h3>Add a new mission</h3></li>
					<form>
					<input type="text" name="missionName" placeholder="Name of the mission" required/>
					<input type="text" name="missionDescription" placeholder="Description of the mission" required/>
					<p>When is the mission due?</p>
					<input type="date" name="dueDate" required/>
					<p>Does this mission recur?</p>
					<input type="radio" name="recurring" value="true" checked required>Yes<br>
					<input type="radio" name="recurring" value="false" required>No<br>
					<p>How many days elapse between mission due dates</p>
					<input type="number" name="period"  min="0" max="900" placeholder="num" required/>
					<p>How many days (1-7) can the mission be snoozed</p>
					<input type="number" name="snooze" min="1" max="7" placeholder="num" required/>
					<!-- not showing radio buttons for sector -->
					<p>Please choose a sector</p>
					<input th:each= "sector: ${sectors}" type="radio" name="sectorId" th:value="${sector.id}" th:text="${sector.sectorName}" required> <br>
					<!-- not showing users or checkboxes yet -->
					<p>Assign user(s)</p>
					<input type="checkbox" name="userId" th:each= "user: ${users}" th:value="${user.id}" th:text="${user.userName}" required> <br>
					<button class="newMisson-button button-primary" th:formaction= "@{/create-mission-button}">Add Mission</button> 
					</form>
			<li>Show Unassigned Missions</li>
				
			<li>Show Missions by User</li>
			<li>Show Recurring Missions</li>
			<li>Find Complete Missions</li>
			<li>Edit Recurring Missions</li>
			<li>Edit Missions</li>
				<article th:each="mission: ${missions}">
					<form th:method="POST" th:action= "@{/mission(id=${mission.id})}">
					<h3><p>Name<input type="text" name="missionname" th:value="${mission.missionName}"></h3>
					<p>Description<input type="text" name="missionndescirption" th:value="${mission.missionDescription}">
					<p>Sector<input type="text" name="missionsector" th:value="${mission.sector}">
					<p>Period<input type="text" name="missionperiod" th:value="${mission.period}">
					<p>Due Date<input type="text" name="missiondue" th:value="${mission.dueDate}">
					<p>Completion Date<input type="text" name="missioncompletion" th:value="${mission.completionDate}">
					<p>Users<input type="text" name="missionusers" th:value="${mission.users}">
					<hr>
					</form>
				</article>
			<li>Delete Missions</li>
		</ul>
	</div>
		<div class="sectors"><h1>Sector Administration</h1>
		<ul>
			<li>Add Sector</li>
			<h2><li>Edit Sectors</li></h2>
			<div class="grid-container">
					<div class="grid-container">
		<div id="sector-list">
			<article th:each="sector: ${sectors}">
					<form th:method="POST" th:action= "@{/sector(id=${sector.id})}">
					<input type="text" name="sectorname" th:value="${sector.sectorName}">
					<hr>
					</form>
			</article>
		</div>
	</div>
				<li>Delete Sector</li>
		</ul>
	</div> -->
		</div>
		<div class="users"><h1>User Administration</h1>
		<ul>
			<li>Add User</li>
			<li>Edit User</li>
			<li>Remove User</li>
			<li>Change User Password</li>
		</ul>
	</div>
</body>
</html>