<!DOCTYPE html>
<html>
<head>
	<title>Administration tasks</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="missions"><h1>Mission Administration</h1>
		<ul>
			<li>Add Missions</li>
			<li>Show Unassigned Missions</li>
			<li>Show Missions by User</li>
			<li>Show Recurring Missions</li>
			<li>Find Complete Missions</li>
			<li>Edit Recurring Missions</li>
			<li>Edit Missions</li>
			<li>Delete Missions</li>
		</ul>
	</div>
		<div class="sectors"><h1>Sector Administration</h1>
		<ul>
			<li>Add Sector</li>
			<li>Edit Sectors</li>
<!-- 			<div class="grid-container">
				<h2 th:text="${sectors.sectorName}"></h2> -->
<!-- 		
			<button id="myBtn">
			<article th:each="mission: ${sector.missions}">
				<img src="./images/sector1.jpg">
				<div class="mission-intro">
					<h4 input type="text" th:text="${mission.missionName}"></h4>
					<p input type="text" th:text="${mission.dueDate}"></p>
					<p input type="text" th:text="${mission.users}"></p>
					
				</div>
			</article>
		</button>
			<li>Delete Sector</li>
		</ul>
	</div> -->
		</div>
		<div class="users"><h1>User Administration</h1>
		<ul>
			<li>Add User</li>
			<li>Edit User</li>
			<li>Remove User</li>
			<li>Change User Password</li>
		</ul>
	</div>
</body>
</html>