<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Prod/header placeholder</h1>
		</header>



</main>
<footer>
		<ul>
			<li> <a href="http://localhost:8080/show-sectors">Show All Sectors</a></li>
			<li> <a href="http://localhost:8080/show-missions">Show All Missions</a></li>
		</ul>
</footer>		
</body>
</html>