<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Missions</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Prod/header placeholder</h1>
		</header>

<div class="grid-container">
	<ul id="missions-list">
		<li th:each="mission: ${missions}"> 
			<a th:href="@{/mission(id=${mission.id})}" th:text="${mission.missionName}"></a>
		</li> 
	</ul>
       
</main>
<footer>
		<ul>
			<li> <a href="http://localhost:8080/show-sectors">Show All Sectors</a></li>
			<li> <a href="http://localhost:8080/show-missions">Show All Missions by Due Date</a></li>
		</ul>
</footer>		
</body>
</html>