<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Mission</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Prod/header placeholder</h1>
		</header>
<div class="grid-container" th:each= "mission: ${missions}">
	<h2 id="MissionName" th:text="${mission.missionName}"></h2>
	<p th:utext = "${mission.missionDescription}"></p>
	<p th:text = "${mission.users}"></p>	
	<p th:text = "${mission.period}"></p>	
	<p th:text = "${mission.snooze}"></p>	
	<p th:text = "${mission.dueDate}"></p>
	<p th:text = "${mission.completionDate}"></p>	
	<p th:text = "${mission.recurring}"></p>		


</div>
</main>
<footer>
		<ul>
			<li> <a href="http://localhost:8080/show-sectors">Show All Sectors</a></li>
			<li> <a href="http://localhost:8080/show-missions">Show All Missions by Due Date</a></li>
		</ul>
</footer>		
</body>
</html>