<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Invidual Sector</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
		<main id="container"> 
			<header>
				<h1>Prod/header placeholder</h1>
			</header>
		<div class="grid-container">
			<h2 th:text="${sector.sectorName}"></h2>
		
			<ul id="sector-list">		
				<li th:each="mission: ${sector.missions}">
					<a th:href="@{/mission(id=${mission.id})}" th:text="${mission.missionName}"></a>
				</li>
			</ul>
				
				<img th:src ="${sector.image}">
			</div> 

	</main>
	<footer>
			<ul>
				<li> <a href="http://localhost:8080/show-sectors">Show All Sectors</a></li>
				<li> <a href="http://localhost:8080/show-missions">Show All Missions</a></li>
			</ul>
	</footer>		

</body>
</html>