<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Invidual Sector</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style-sheet.css">
</head>
<body>
	<main > 
		<header>
			<h1>Single Sector</h1>
		</header>
		<div th:object= "${sector}" class="grid-container">
			<h2 th:text="${sector.sectorName}"></h2>
			<div class ="mission" th:each="mission: ${missions}">	
					<article class="missionLists">
						<img th:src="*{imageUrl}"/>
						<button>
							<div class="mission-intro missionButton">
								<h4 th:text="${mission.missionName}"></h4>
								<p><span th:text="${mission.dueDate}"></span><span> | </span>
								<span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>
							</div>
						</button>
					</article>
					
				<!-- The Modal -->
				<div class="modal">
					<div class="modal-content">
						<span class="close">&times;</span>
						<section>
							<p>Mission Name: <span th:text = "${mission.missionName}"></span></p>
							<p>Mission Decription: <span th:text = "${mission.missionDescription}"></span></p>
							<p>Mission's Assigned Users: <span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>	
							<p>Mission repeats every <span th:text = "${mission.period}"></span> days</p>	
							<p>Mission can be snoozed for <span th:text = "${mission.snooze}"></span> days</p>	
							<p>Mission Due Date: <span th:text = "${mission.dueDate}"></span></p>
							<p>Mission Completed: <span th:text = "${mission.completionDate}"></span></p>
						</section>
						<form >
							<input type="hidden" th:value="${mission.id}" name="missionId"/>
							<input type="hidden" th:value="${mission.sector.id}" name="sectorId"/>
							<button class="doneButton button-primary" th:formaction= "@{/missionDone-sector-button}">Done</button>
							<button class="snoozeButton button-primary" th:formaction= "@{/snooze-mission-sector}">Snooze</button>
						</form>
					</div>
				</div>
			</div>
		</div>
				
		
			


	</main>
	<footer>
			<ul>
				<li> <a href="http://localhost:8080/show-sectors">All Sectors</a></li>
				<li> <a href="http://localhost:8080/show-missions">All Missions</a></li>
				<li> <a href="http://localhost:8080/show-users">All Users</a></li>
			</ul>
	</footer>		
	<script src = "./js/sector.js"></script>
	
</body>
</html>