<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Users Screen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style-sheet.css">
    <link rel="stylesheet" type="text/css" href="/css/sepStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
</head>
<body>
	<main>
		<header>
            <div id="headerAndTinyProd">
                <h1>All Users</h1>
                <img id="tinyProd"src="/images/prod-logo.svg" alt="image depicting PROD chore tracking application">
            </div>

                <nav class="topNav">
                   
                    <ul class="first-nav">
                        <li class="first-nav" ><a><img src="./images/goto-icon-white.svg" alt="go to icon"></a>
                            <ul>
                                <li class="sub-nav"><a href="http://localhost:8080/show-sectors">Sectors</a></li>
                                <li class="sub-nav"><a href="http://localhost:8080/show-users">Users</a></li>
                            </ul>
                        </li>
                        <li class="first-nav"><a><img src="./images/plus-icon-white.svg" alt="add icon"></a>
                            <ul>
                                <li class="sub-nav"><a href="#">Add User (?)</a></li>
                                
                            </ul>
                        </li>
                        <li class="first-nav"><a><img src="./images/cog-icon-white.svg" alt="settings icon"></a>
                            <ul>
                                <li class="sub-nav"><a href="http://localhost:8080/admin">Settings</a></li>
                            </ul>
                        </li>
                        <li class="first-nav"><a><img src="./images/logout-icon-white.svg" alt="logout icon"></a>
                            <ul>
                                <li class="sub-nav"><a href="http://localhost:8080/login?logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

        </header>
             
        <div class="grid-container">
                <!-- <h4 class="pageHeader">Here are all users.</h4>   -->
                
                <div class="user">
                    <article th:each="user: ${users}">
                        <!-- <img th:src="${user.imageUrl}"/> -->
                        <form th:method="POST" th:action= "@{/user(id=${user.id})}">
                            <button class="mission-intro missionButton"> <h4 th:text="${user.userName}"></h4></button>
                        </form>
                    </article>
                </div>
        </div>

    </main>


<footer>
    <p>&copy;Prod-App 2018</p>
</footer>	

<script src = "./js/user.js"></script>	
<script src = "./js/user-requests.js"></script>
<script src = "./js/subnav.js"></script>
</body>
</html>