<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Users Screen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style-sheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
</head>
<body>
	<main>
		<header>
            
            <nav class="topNav">
				<div >
                    <img id="prod-mascot"src="/images/prod-logo.svg" alt="image depicting PROD chore tracking application">
                </div>

                <div id="first-nav">
                    <ul>		
                        <li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-goto')"><img src="./images/goto-icon-white.svg" width="40" height="40" alt="go to icon"></button></li>
                        <li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-add')"><img src="./images/plus-icon-white.svg" width="40" height="40" alt="go to icon"></button></li>
                        <li><button class="navLinks" onclick="goToSelectedPopsUp('subnav')"><a href="#"><img src="./images/cog-icon-white.svg" width="40" height="40" alt="settings icon"></a></button></li>
                        <li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-logout')"><a href="#"><img src="./images/logout-icon-white.svg" width="40" height="40" alt="logout icon"></a></button></li>
                    
                    </ul>
                </div> 

                <div  id="sub-nav-goto" class="sub-nav" > 
                    <ul>
                        <li><a href="http://localhost:8080/show-sectors">Go To Sectors</a></li>
                        <li><a href="http://localhost:8080/show-users">Go To Users</a></li>
                    </ul>
                </div>	
                <div  id="sub-nav-settings" class="sub-nav"> 
                    <ul>
                        <li><a href="http://localhost:8080/admin">Change Your Settings</a></li>
                    </ul>
                </div>
                <div  id="sub-nav-logout" class="sub-nav"> 
                    <ul>
                        <li><a href="http://localhost:8080/login?logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
             
        <div class="grid-container">
                <h4 class="pageHeader">Here are all users.</h4>  
                
                <div class="user">
                    <article th:each="user: ${users}">
                        <!-- <img th:src="${user.imageUrl}"/> -->
                        <form th:method="POST" th:action= "@{/user(id=${user.id})}">
                            <button class="mission-intro missionButton"> <h4 th:text="${user.userName}"></h4></button>
                        </form>
                    </article>
                </div>
        </div>

    </main>


<footer></footer>	

<script src = "./js/user.js"></script>	
<script src = "./js/user-requests.js"></script>
<script src = "./js/subnav.js"></script>
</body>
</html>