<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>User Screen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
		<!--<link rel="stylesheet" type="text/css" href="/css/layout.css">-->
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/style-sheet.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
	</head>
	<body>
		<main >
			<header>

				<nav class="topNav">

					<div id="prod-mascot"><p><img src="/images/prod-logo.svg" alt="image depicting PROD chore tracking application"></p></div>

					<div id="first-nav">
                		<ul>		
							<li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-goto')"><img src="./images/goto-icon-white.svg" width="40" height="40" alt="go to icon"></button></li>
							<li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-add')"><img src="./images/plus-icon-white.svg" width="40" height="40" alt="go to icon"></button></li>
                    		<li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-settings')"><a href="#"><img src="./images/cog-icon-white.svg" width="40" height="40" alt="settings icon"></a></button></li>
                    		<!--pop-up for All Missions, All Sectors, All Users-->
                    		<li><button class="navLinks" onclick="goToSelectedPopsUp('sub-nav-logout')"><a href="#"><img src="./images/logout-icon-white.svg" width="40" height="40" alt="logout icon"></a></button></li>
                    		<!--Logout button confirmation-->
                		</ul>
            		</div> 

            		<div  id="sub-nav-goto" class="sub-nav" onclick="goToSelectedPopsUp()"> 
                		<ul>
                        	<!-- <li><a href="http://localhost:8080/show-missions">Go To Missions</a></li> -->
                        	<li><a href="http://localhost:8080/show-sectors">Go To Sectors</a></li>
                        	<li><a href="http://localhost:8080/show-users">Go To Users</a></li>
                		</ul>
					</div>
					
					<div  id="sub-nav-add" class="sub-nav" onclick="goToSelectedPopsUp()"> 
                		<ul>
                        	<!-- <li><a href="http://localhost:8080/show-missions">Go To Missions</a></li> -->
							<li><button id="add-sector-button">Add A Sector</button></li>
							<li><button id="add-mission-button">Add A Mission</button></li>
                		</ul>
					</div>
					
					<div  id="sub-nav-settings" class="sub-nav" onclick="goToSelectedPopsUp()"> 
                		<ul>
                        	<!-- <li><a href="http://localhost:8080/show-missions">Go To Missions</a></li> -->
                        	<li><a href="http://localhost:8080/show-sectors">Change Your Settings</a></li>
                		</ul>
					</div>
					
					<div  id="sub-nav-logout" class="sub-nav" onclick="goToSelectedPopsUp()"> 
                		<ul>
                        	<li><a href="http://localhost:8080/show-sectors">Logout</a></li>
                		</ul>
            		</div>
				</nav>
				
				<h1>Missions</h1>
			
				<h2 th:text="'Hello ' + ${user.userName}"></h2>


			</header>

			<!--I have CSS for: #tabbed-nav (blank), 
			nav #tabbed-nav ul- make this main .tab ul, 
			nav #tabbed-nav ul li-make this main .tab ul li, 
			[nav #tabbed-nav ul li button:hover, nav #tabbed-nav ul li button:active, .tablinks-active]-
			[main #tablinks active ul li button:hover, main #tablinks active ul li button:active, .tablinks-active], .tablinks a:hover, .tablinks a:active (blank),
			.tablinks-active (blank)-->

			<div class="tab">
				<ul>
				<!--I think the class name with the space is a problem for the CSS-->
				<li><button class="tablinks active" onclick="openMissions(event, 'myMissions')">My Missions</button></li>
				<li><button class="tablinks" onclick="openMissions(event, 'unassignedMissions')">Unassigned Missions</button></li>
				<li><button class="tablinks" onclick="openMissions(event, 'allMissions')">All Missions</button></li>
				</ul>
			</div>

			<!--Is it possible to add a second class to an item?
			And what about the space in the class?"
			Add "flex-grid" and "col"-->
			<div id="myMissions" class="tabcontent active" style="display: block">
				<div class ="mission" th:each="mission: ${usersMissions}">	
						<article class="missionLists">
								<a th:href="@{/sector(id=${mission.sector.id})}">
									<img th:src="${mission.sector.imageUrl}"/></a>
							<button >
								<div class="mission-intro missionButton">
									<h4 th:text="${mission.missionName}"></h4>
									<p><span th:text="${mission.dueDate}"></span><span> | </span>
									<span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>
								</div>
							</button>
						</article>
					
					<!-- The Modal -->
					<div class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<section>
								<p>Mission Name: <span th:text = "${mission.missionName}"></span></p>
								<p>Mission Decription: <span th:text = "${mission.missionDescription}"></span></p>
								<p>Mission's Assigned Users: <span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>	
								<p>Mission repeats every <span th:text = "${mission.period}"></span> days</p>	
								<p>Mission can be snoozed for <span th:text = "${mission.snooze}"></span> days</p>	
								<p>Mission Due Date: <span th:text = "${mission.dueDate}"></span></p>
								<p>Mission Completed: <span th:text = "${mission.completionDate}"></span></p>
							</section>
							<h3 th:if="${mission.completionDate != null}">This mission is completed</h3>
							<form>
								<input type="hidden" th:value="${mission.id}" name="missionId"/>
								<input type="hidden" th:value="${user.id}" name="userId"/>
								<button class="doneButton button-primary" th:formaction= "@{/mission-complete-button}">Done</button>
								<button class="snoozeButton button-primary" th:formaction= "@{/snooze-mission}">Snooze</button>
							</form>				
						</div>
					</div>
				</div>
				
			</div>

			<div id="unassignedMissions" class="tabcontent">
				<div class ="mission" th:each="mission: ${unassignedUserMissions}">
					
					<article class="missionLists" id="unassignedUserMissions" >
						<a th:href="@{/sector(id=${mission.sector.id})}">
						<img th:src="${mission.sector.imageUrl}"/></a>
						<button class="missionButton">
							<div class="mission-intro">
								<h4 th:text="${mission.missionName}"></h4>
								<p><span th:text="${mission.dueDate}"></span></p>
							</div>
						</button>
					</article>
					
					<!-- The Modal -->
					<div class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<section>
								<p>Mission Name: <span th:text = "${mission.missionName}"></span></p>
								<p>Mission Decription: <span th:text = "${mission.missionDescription}"></span></p>
								<p>Mission's Assigned Users: <span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>	
								<p>Mission repeats every <span th:text = "${mission.period}"></span> days</p>	
								<p>Mission can be snoozed for <span th:text = "${mission.snooze}"></span> days</p>	
								<p>Mission Due Date: <span th:text = "${mission.dueDate}"></span></p>
								<p>Mission Completed: <span th:text = "${mission.completionDate}"></span></p>
							</section>
							<form>
								<input type="hidden" th:value="${mission.id}" name="missionId"/>
								<input type="hidden" th:value="${user.id}" name="userId"/>
								<button class="doneButton button-primary" th:formaction= "@{/mission-complete-button}">Done</button>
								<button class="snoozeButton button-primary" th:formaction= "@{/snooze-mission}">Snooze</button>
								<button class="claimButton button-primary" th:formaction= "@{/claim-mission-button}">Claim</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div id="allMissions" class="tabcontent">
				<div class ="mission" th:each="mission: ${allMissions}">	
					<article th:if="${mission.completionDate != null}" class="missionLists missionDone" id="allUserMissions" >
							<a th:href="@{/sector(id=${mission.sector.id})}">
								<img th:src="${mission.sector.imageUrl}"/></a>
						<button class="missionButton">
							<div class="mission-intro">
								<h4 th:text="${mission.missionName}"></h4>
								<p><span th:text="${mission.dueDate}"></span><span> | </span>
								<span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>
							</div>
						</button>
					</article>

					<article th:if="${mission.completionDate == null}" class="missionLists" id="allUserMissions" >
							<a th:href="@{/sector(id=${mission.sector.id})}">
								<img th:src="${mission.sector.imageUrl}"/></a>
						<button class="missionButton">
							<div class="mission-intro">
								<h4 th:text="${mission.missionName}"></h4>
								<p><span th:text="${mission.dueDate}"></span><span> | </span>
								<span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>
							</div>
						</button>
					</article>
					
					
					<!-- The Modal -->
					<div class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<section>
								<p>Mission Name: <span th:text = "${mission.missionName}"></span></p>
								<p>Mission Decription: <span th:text = "${mission.missionDescription}"></span></p>
								<p>Mission's Assigned Users: <span th:each="user: ${mission.users}" th:text="${user.userName} + '&nbsp&nbsp'"></span></p>	
								<p>Mission repeats every <span th:text = "${mission.period}"></span> days</p>	
								<p>Mission can be snoozed for <span th:text = "${mission.snooze}"></span> days</p>	
								<p>Mission Due Date: <span th:text = "${mission.dueDate}"></span></p>
								<p>Mission Completed: <span th:text = "${mission.completionDate}"></span></p>
							</section>
							<h3 th:if="${mission.completionDate != null}">This mission is completed</h3>
							<form th:if="${mission.completionDate == null}">
								<input type="hidden" th:value="${mission.id}" name="missionId"/>
								<input type="hidden" th:value="${user.id}" name="userId"/>
								<button class="doneButton button-primary" th:formaction= "@{/mission-complete-button}">Done</button>
								<button class="snoozeButton button-primary" th:formaction= "@{/snooze-mission}">Snooze</button>
								<button class="claimButton button-primary" th:formaction= "@{/claim-mission-button}">Claim</button>							</form>
						</div>
					</div>
				</div>
			</div>
		</main>

		<br>

		<div id="add" class="navContent">
			<!--That's where the button code was.-->
			<div id="add-mission-modal" class="modal">
				<div class="modal-content">
					<span id="close-add-mission" class="close">&times;</span>
					<h3>Add a new mission</h3>
					<form >
						<input type="text" name="missionName" placeholder="Name of the mission" required/>
						<input type="text" name="missionDescription" placeholder="Description of the mission" required/>
						<p>When is the mission due?</p>
						<input type="date" name="dueDate" required/>
						<p>Does this mission recur?</p>
						<input type="radio" name="recurring" value="true" checked required> mission recurs<br>
						<input type="radio" name="recurring" value="false" required> mission does not recur<br>
						<p>how many days elapse between mission due dates</p>
						<input type="number" name="period"  min="1" max="900" placeholder="num" required/>
						<p>how many days (1-7) can the mission be snoozed</p>
						<input type="number" name="snooze" min="1" max="7" placeholder="num" required/>
						<p>Please choose a sector</p>
						<input th:each= "sector: ${sectors}" type="radio" name="sectorId" th:value="${sector.id}" th:text="${sector.sectorName}" required> <br>
						<input type="hidden" th:value="${user.id}" name="userId"/>
						<button class="newMisson-button button-primary" th:formaction= "@{/create-mission-button}">Add Mission</button> 
						</form>
				</div>				
			</div>

			<div id="add-sector-modal" class="modal">
				<div class="modal-content">
					<span id="close-add-sector" class="close">&times;</span>
					
					<h3>Add a new sector</h3>
					<form >
						<input type="text" name="sectorName" placeholder="Name of the sector" required/>
						<input type="file" name="imageUrl" placeholder="image URL" required/>
						<input type="hidden" name="userId" th:value="${user.id}">
						<button class="newSector-button button-primary" th:formaction= "@{/add-sector-button-from-user}">Add Sector</button> 
					</form>
				</div>				
			</div>
		</div>

		<footer></footer>

		<script src = "./js/user.js"></script>	
		<script src = "./js/user-requests.js"></script>	
		<script src = "./js/sectors.js"></script>	



	</body>
</html>