<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>User Screen</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Prod/header placeholder</h1>
		</header>
		<div class="grid-container">
			<h2 th:text="'Hello ' + ${user.name}"></h2>
				<h3>Here are your current missions.</h3>
				<ul>
					<li th:each="  "  ></li>
				</ul>


</main>
<footer>
		<ul>
			<li> <a href="http://localhost:8080/show-sectors">Show All Sectors</a></li>
			<li> <a href="http://localhost:8080/show-missions">Show All Missions</a></li>
		</ul>
</footer>		
</body>
</html>